// Змінюємо колір текста назви сторінки в хедері
.site-nav__link--accent-color {
    color: $primary-color;
}

// Стилі сторінки
.blogs {
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 53px;
    @media screen and (min-width: 1152px) {
        width: 682px;
        margin-bottom: 57px;
    }
}

.blogs__title {
    margin-bottom: 18px;

    font-weight: 700;
    font-size: 30px;
    line-height: 2;

    @media screen and (min-width: 1152px) {
        margin-bottom: 55px;
        font-size: 44px;
        line-height: 1.36;
    }
}

.blog {
    margin-bottom: 18px;
    border-bottom: 1px solid $border-bottom-color;
    
}
.blog__title {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.46;
    @media screen and (min-width: 1152px) {
        margin-bottom: 16px;
        font-size: 30px;
        line-height: 1.46;
    }
}

.blog__datetime {
     @media screen and (min-width: 1152px) {
        font-size: 20px;
        line-height: 1.45;
    }
}

.blog__title-category {
    color: $light-font-color;

    &::before {
        content: "";
        margin-right: 15px;
        margin-left: 15px;
        border: 1px solid #000;
    }

    @media screen and (min-width: 1152px) {
        font-size: 20px;
        line-height: 1.45;
    }
}
.blog__text {
    margin-top: 17px;
    margin-bottom: 24px;

    @media screen and (min-width: 1152px) {
        margin-top: 15px;
        margin-bottom: 29px;
    }
}