.bottom {
    padding-top: 51px;
    padding-bottom: 54px;
}

.bottom__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}

.bottom__list-item {
    &:not(:first-child) {
        margin-left: 35px;
    }

}

.bottom_icon {
    width: 30px;
    height: 30px;
    fill: $main-font-color;
}

.bottom__copyrights {
    font-size: 14px;
    line-height: 1.5;
    text-align: center
}
