.introduction {
    padding-top   : 33px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
      
    @media screen and (min-width: 1152px) {
        flex-direction: row-reverse;
        justify-content: space-around;
        text-align: left;
        
    }
    outline: 2px solid purple;
}

.introduction__card {
    margin-bottom: 43px;
    max-height: 170px;
    max-width :170px;

    @media screen and (min-width: 1152px) {
        max-height: 243px;
        max-width : 243px;
    }
}

.introduction__wrapper {
    @media screen and (min-width: 1152px) {
        max-width: 400px;
    }
}
.introduction__title {
    margin-bottom: 21px;
}
.introduction__text {
    margin-bottom: 27px;
}
.introduction__btn-resume {
    width: 208px;
    height: 47px;
    margin-bottom: 59px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.45;

    font-family: 'Heebo', sans-serif;
    color: #FFFFFF;
    background-color: $primary-color;
    border-radius: 2px;
    border: transparent;
}