$main-bg-color: #fff;
$second-bg-color: #EDF7FA;
$date-bg-color: #142850;
$primary-color: #FF6464;
$main-font-color: #21243D;
$light-font-color: #8695A4;
$secondary-font-color: #00A8CC;
$border-bottom-color: #E0E0E0;


